:root {
	--text-color: #282728;
	--tan: #f4f0ec;

	--grid-y-padding: 0;
	--grid-x-padding: 6.5rem;

	--grid-column-gap: 2.875rem;
	--grid-row-gap: 2.875rem;

	--cta-grid-y-padding: 4rem;
	--cta-grid-x-padding: var(--grid-x-padding);

	--cta-grid-column-gap: 2.875rem;
	--cta-grid-row-gap: 2.875rem;

	--container-x-padding: 0.9375rem;
}

/* globals */

body {
	font-family: 'Poppins', sans-serif;
	color: var(--text-color);
}

/* typography */

h2 {
	font-size: 2.25rem;
	font-weight: 300;
}

p {
	font-size: 1rem;
}

/* container */

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 var(--container-x-padding);
}

@media screen and (min-width: 1064px) {
	.container {
		width: 1064px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		width: 1400px;
	}
}

/* utilities */
/* lead-in */

.lead-in h1 {
	padding: 2rem 0 1.5rem;
	line-height: 1;
	margin: 0;
}

@media screen and (min-width: 768px) {
	.lead-in h1 {
		padding: 5rem 0 4.5rem;
		line-height: 1;
		margin: 0;
	}
}

.lead-in h1 img {
	width: 600px;
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.lead-in__visual {
	position: relative;
	margin-bottom: 5rem;
}

.lead-in__visual::before {
	content: '';
	position: absolute;
	top: 4rem;
	bottom: 4rem;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: var(--tan);
}

.lead-in__image {
	position: relative;
	z-index: 2;
}

.lead-in__image img {

}

.lead-in__content p {
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 1.375;
	letter-spacing: -0.05rem;
	margin-bottom: 2.85rem;
}

@media screen and (min-width: 768px) {
	.lead-in__content p {
		font-size: 1.75rem;
		margin-bottom: 4rem;
	}
}


/* drop cap */
.drop-cap {
	float: left;
	font-size: 3.825rem;
	line-height: .825;
	margin-right: .25rem;
}

@media screen and (min-width: 768px) {
	.drop-cap {
		font-size: 5.25rem;
		margin-right: .5rem;
	}
}

/* swatches */

.swatches {
	--swatches-accent-icon-size: 40px;
	--swatches-padding-bottom: calc(var(--swatches-accent-icon-size) * 2);
	--swatches-margin-bottom: 4rem;

	padding: 0 1rem var(--swatches-padding-bottom);
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	column-gap: var(--grid-column-gap);
	row-gap: var(--grid-row-gap);

	background-image: url('../images/star.svg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: var(--swatches-accent-icon-size) auto;

	margin-bottom: var(--swatches-margin-bottom);
}

@media screen and (min-width: 648px) {
	.swatches {
		grid-template-columns: repeat(2, 1fr);
		padding: 0 2rem var(--swatches-padding-bottom);
	}
}

@media screen and (min-width: 992px) {
	.swatches {
		grid-template-columns: repeat(3, 1fr);
		padding: 0 3rem var(--swatches-padding-bottom);
	}
}


@media screen and (min-width: 1200px) {
	.swatches {
		grid-template-columns: repeat(3, 1fr);
		padding: var(--grid-y-padding) var(--grid-x-padding) var(--swatches-padding-bottom);
	}
}

.swatch {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto 1rem;
	width: 240px;
	max-width: 100%;
}

@media screen and (min-width: 768px) {
	.swatch {
		width: unset;
	}
}

.swatch__sample {
	margin-bottom: 1rem;
}

.swatch__sample img {
	display: block;
	max-width: 100%;
	height: auto;
}

.swatch__pattern-name {
	--swatch-pattern-accent-icon-size: .75rem;
	--swatch-pattern-padding-top: calc(var(--swatch-pattern-accent-icon-size) * 2);

	font-size: 1.375rem;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.075em;
	padding-top: var(--swatch-pattern-padding-top);
	background-image: url('../images/star.svg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: var(--swatch-pattern-accent-icon-size) auto;
	line-height: 1;
	margin-bottom: .25rem;
}

.swatch__color-name {
	font-size: 1.15rem;
	font-weight: 300;
	letter-spacing: 0.075em;
	line-height: 1;
}

/* shop cta */

.shop-cta {
	padding: 2rem 0;

	background: url('../images/bg-shop-cta.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	display: grid;
	grid-template-columns:repeat(1, 1fr);
	grid-template-rows: repeat(2, 1fr);
	column-gap: var(--cta-grid-column-gap);
	row-gap: var(--cta-grid-row-gap);

	margin-bottom: 4.5rem;
}

@media screen and (min-width: 768px) {
	.shop-cta {
		grid-template-columns: repeat(2, 1fr);
		padding: 2rem 3rem;
		grid-template-areas: 
		"cta1 . ."
		"cta2 . .";
	}
}

@media screen and (min-width: 1200px) {
	.shop-cta {
		grid-template-columns: repeat(3, 1fr);
		padding: var(--cta-grid-y-padding) var(--cta-grid-x-padding);
	}
}

.shop-cta__item {
	aspect-ratio: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 0 auto 1rem;
	width: 240px;
	max-width: 100%;
}

@media screen and (min-width: 768px) {
	.shop-cta__item {
		width: 100%;
		max-width: unset;
	}
}

@media screen and (min-width: 768px) {
	.shop-cta__item:nth-child(1) {
		grid-area: cta1;
	}

	.shop-cta__item:nth-child(2) {
		grid-area: cta2;
	}
}

.shop-cta__item a { 
	color: var(--text-color);
	background: #fff;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	border-radius: 50%;
}

.shop-cta__item a span {
	display: block;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -0.015em;
	line-height: 1.1;
}

.shop-cta__item a span:first-child {
	font-size: 1.85rem;
	font-weight: 200;
}

.shop-cta__item a span:last-child {
	font-size: 1.7175rem;
	font-weight: 500;
}

@media screen and (min-width: 768px) {
	.shop-cta__item a span:first-child {
		font-size: 2.35rem;
	}
	
	.shop-cta__item a span:last-child {
		font-size: 2.2175rem;
	}
	
}